<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="/{{ domain_detail.domain_name }}/static/css/common.css">
<link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet" />

<!-- navigation for mobile -->
<link rel="stylesheet" href="/{{ domain_detail.domain_name }}/static/css/slicknav.css"/>
<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
<script src="/{{ domain_detail.domain_name }}/static/js/jquery.slicknav.min.js"></script>
<script>
    jQuery(function($) {
        $('#gnav').slicknav();
    });
</script>
